@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('./header/header.css');
@import url('./hero/hero.css');
@import url('./locations/locations.css');
@import url('./benefits/benefits.css');
@import url('./contact-us/contact-us.css');
@import url('./footer/footer.css');

:root {
    --color-main: #131c27;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Global CSS */
h1 {
    font-size: 2.4rem;
}

h3 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.2rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;

}

button {
    cursor: pointer;
    padding: 2rem 5rem;
    border: none;
    border-radius: .5rem;
    background-color: #4c6397;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    transition: all .3s ease-in-out;

}

button:hover {
    background-color: #38445f;
}