/* Nav Section */

.main-head {
    background-color: #131c27;
    color: white;

}

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;

}

#logo {
    font-size: 2.5rem;
    font-weight: 400;
    flex: 2 1 40rem;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex: 1 1 40rem;
    justify-content: space-around;
}


@media screen and (max-width:768px) {
    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }

}